In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
alcohol_file = "russia_alcohol.csv"
alcohol_data_df = pd.read_csv(alcohol_file)
alcohol_data_df.head()

   year              region  wine  beer  vodka  champagne  brandy
0  1998  Republic of Adygea   1.9   8.8    3.4        0.3     0.1
1  1998          Altai Krai   3.3  19.2   11.3        1.1     0.1
2  1998         Amur Oblast   2.1  21.2   17.3        0.7     0.4
3  1998  Arkhangelsk Oblast   4.3  10.6   11.7        0.4     0.3
4  1998    Astrakhan Oblast   2.9  18.0    9.5        0.8     0.2

In [55]:
start_date = 2000
end_date = 2016

after_start_date = alcohol_data_df["year"] >= start_date
before_end_date = alcohol_data_df["year"] <= end_date
between_dates = after_start_date & before_end_date
alcohol_df = alcohol_data_df.loc[between_dates]

alcohol_df.head()

     year              region  wine  beer  vodka  champagne  brandy
170  2000  Republic of Adygea   3.1  27.4    5.4        0.6     0.1
171  2000          Altai Krai   2.1  33.2    9.9        1.3     0.1
172  2000         Amur Oblast   2.4  28.5   15.8        0.7     0.2
173  2000  Arkhangelsk Oblast   5.5  29.3   19.2        0.9     0.5
174  2000    Astrakhan Oblast   3.7  31.0   10.0        0.6     0.1

In [56]:
alcohol_df.to_csv('russian_alcohol_df.csv')

In [51]:
demography_file = "russian_demography.csv"
demography_data_df = pd.read_csv(demography_file)
demography_data_df.head()

   year              region  npg  birth_rate  death_rate    gdw  urbanization
0  1990  Republic of Adygea  1.9        14.2        12.3  84.66         52.42
1  1990          Altai Krai  1.8        12.9        11.1  80.24         58.07
2  1990         Amur Oblast  7.6        16.2         8.6  69.55         68.37
3  1990  Arkhangelsk Oblast  3.7        13.5         9.8  73.26         73.63
4  1990    Astrakhan Oblast  4.7        15.1        10.4  77.05         68.01

In [54]:
start_date = 2000
end_date = 2016

after_start_date = demography_data_df["year"] >= start_date
before_end_date = demography_data_df["year"] <= end_date
between_dates = after_start_date & before_end_date
demography_df = demography_data_df.loc[between_dates]

demography_df.head(85)

,year,region,npg,birth_rate,death_rate,gdw,urbanization
850,2000,Republic of Adygea,-5.9,9.1,15.0,78.59,52.86
851,2000,Altai Krai,-5.0,9.3,14.3,67.35,52.77
852,2000,Amur Oblast,-4.4,10.2,14.6,61.13,66.46
853,2000,Arkhangelsk Oblast,-7.5,8.8,16.3,63.71,74.74
854,2000,Astrakhan Oblast,-4.4,9.9,14.3,69.14,67.88
...,...,...,...,...,...,...,...
930,2000,Chuvash Republic,-4.7,9.3,14.0,72.37,60.20
931,2000,Chukotka Autonomous Okrug,1.9,11.5,9.6,43.81,66.96
932,2000,Sakha (Yakutia) Republic,4.0,13.7,9.7,61.21,64.00
933,2000,Yamalo-Nenets Autonomous Okrug,6.1,11.7,5.6,43.71,83.30
934,2000,Yaroslavl Oblast,-10.7,7.3,18.0,71.45,80.44